.home-discussions-wrapper {
	padding: $gutter;
	background: $site-grey;
	margin-bottom: 2*$gutter;
	border-radius: $radius;
}

.home-discussions-wrapper h2 {
	margin: 0;
}

.home-discussions-btn {
	display: block;
	padding-top: 1rem;
	text-transform: uppercase;
	i:before {
		margin-left: 5px;
	}
}