.quicklinks-wrapper {
	border: solid $site-grey 2px;
	border-top: solid 5px $brand-purple;
	border-radius: $radius;
}

.quicklinks-wrapper h3 {
	margin: 0;
	text-transform: uppercase;
	padding: $gutter/2;
	@include breakpoint (exclusive-papa-bear) {
		font-size: $base;
	}
}


.quicklinks-wrapper h4 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 200;

}

.quicklinks-wrapper .field-item {
	display: block;
	border-top: solid $site-grey 2px;
	padding: $gutter/2;
}

.quicklinks-wrapper p {
	margin: 7px 0;
}

