.degree-table th,
.degree-table td {
	@include breakpoint(baby-bear) {
		&:first-child {
			width: 25%;
		}
		&:nth-child(2) {
			width: 65%;
		}
		&:nth-child(3) {
			width: 10%;
		}
	}
}

// see tables scss file for how this is implemented
.degree-table {
	margin-bottom: 2*$gutter;
	@media screen and (max-width: $baby-bear) {
		td:nth-of-type(1):before { content: "Course #"; }
		td:nth-of-type(2):before { content: "Title"; }
		td:nth-of-type(3):before { content: "Credits"; }

	}
}

