.degree-table th,
.degree-table td {
	@include breakpoint(mama-bear) {
		&:first-child {
			width: 20%;
		}
		&:nth-child(2) {
			width: 70%;
		}
		&:nth-child(3) {
			width: 10%;
		}
	}
}



.degree-table {
	margin-bottom: 2*$gutter;
	@media screen and (max-width: $baby-bear) {
		td:nth-of-type(1):before { content: "Course #"; }
		td:nth-of-type(2):before { content: "Title"; }
		td:nth-of-type(3):before { content: "Credits"; }

	}
}

