.glance-wrapper {
	background: $site-grey;
	padding: $gutter;
	border: solid 2px $brand-alt-green;
	
	margin: $gutter 0;
	
	@include breakpoint(baby-bear) {
		width: 50%;
		margin: $gutter;
		float: right;
	}
}