@mixin button($color) {
	background-color: $color;
	border: none;
	color: white;
	font-weight: bold;
	padding: 8px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 0;
	text-decoration: none !important;
	@include linx(white, white, white, white);
	&:hover {
		@include fade;
		background-color: shade($color, 30%);
		cursor: pointer;
	}		
}


.btn,
button,
.webform-submit,
.form-submit {
	@include button($brand-alt-green);
}


