.catalog-footer {
	background-color: $brand-purple;
	color: white;
	padding: $gutter;
	margin-top: 2*$gutter;
	position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;  
}