.catalog-footer {
	background-color: $brand-purple;
	color: white;
	padding: $gutter;
	
    width: 100%;  
    margin-top: $gutter;
    @include breakpoint(baby-bear) {
    	position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    }
}