*, 
*:after, 
*:before {
	box-sizing: border-box;
}

html {
	// for sticky footer
	position: relative;
	min-height: 100%;
}

// set height used for sticky footer
$footer-height: 70px;

body {
	// sticky footer. rest is in footer partial
	margin: 0 0 ($footer-height + 2*$gutter);
	
}

img {
	max-width: 100%;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

p,
address,
.btn {
	margin: 1rem 0;
}

.region-content {
	// in case this shows up on any weird Drupal pages
	width: 100%;
}