.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 100%;
	@include breakpoint(baby-bear) {
		width: $baby-bear; 
		padding: 0;
	}
	@include breakpoint(mama-bear) {
		width: $mama-bear; 
		display: flex;
		flex-flow: row wrap;
	}
	@include breakpoint(papa-bear) {
		width: $papa-bear ; 
	}
	h1 {
		flex: 1 100%;
	}
}


.single-wrapper {
	@include breakpoint(baby-bear) {
		max-width: 40rem;
		margin: 0 auto;
	}
}



.left-col {
	width: 100%;
	overflow: hidden; // just in case it overflows on mobile views.
	@include breakpoint(mama-bear) {
		width: ($mama-bear) * .7;
		padding-right: 3*$gutter;
		float: left;
	}
	@include breakpoint(papa-bear) {
		width: ($papa-bear) * .7;
	}
}

.right-col {
	width: 100%;

	@include breakpoint(mama-bear) {
		width: ($mama-bear) * .3;
		padding-left: 3*$gutter;
		float: left;
		border-left: solid 1px $site-grey;
	}
	@include breakpoint(papa-bear) {
		width: ($papa-bear) * .3;
	}
}

