.container {
	margin: 0 auto;
	padding: 0 $gutter;
	width: 100%;
	@include breakpoint(baby-bear) {
		width: $baby-bear; 
		display: flex;
		flex-flow: row wrap;
	}
	@include breakpoint(papa-bear) {
		width: $papa-bear ; 
	}
	h1 {
		flex: 1 100%;
	}
}

.left-col {
	width: 100%;
	overflow: hidden; // just in case it overflows on mobile views.
	@include breakpoint(baby-bear) {
		//set this at 70% width, minus the gutters
		width: ($baby-bear - 2*$gutter) * .7;
		padding-right: 3*$gutter;
		float: left;
	}
	@include breakpoint(papa-bear) {
		width: ($papa-bear - 2*$gutter) * .7;
	}
}

.right-col {
	width: 100%;
	@include breakpoint(baby-bear) {
		width: ($baby-bear - 2*$gutter) * .3;
		padding-left: 3*$gutter;
		float: left;
		border-left: solid 1px $site-grey;
	}
	@include breakpoint(papa-bear) {
		width: ($papa-bear - 2*$gutter) * .3;
	}
}

