.catalog-header-wrapper {
	background-color: $brand-purple;
	width: 100%;
	@include breakpoint(mama-bear) {
		display: flex;
	}
}

.catalog-header {
	width: 100%;
	color: white;
	padding: $gutter/2 0;
}

// set color for header title
$title-color: lighten($brand-purple, 50%);

.catalog-header-title {
	text-transform: uppercase;
	letter-spacing: .2rem;
	display: block;
	margin-top: $gutter/2;
 	@include linx($title-color, $title-color, $title-color, $title-color);
 	@include breakpoint(mama-bear) {
 		margin-top: 0;
 		font-size: $xxl;
 		float: right;
 		letter-spacing: 1.3rem;
 		margin-right: -1.3rem; // remove letter spacing from last letter
 	}
 	@include breakpoint(papa-bear) {
 		letter-spacing: 1.7rem;
 		margin-right: -1.7rem; // remove letter spacing from last letter
 	}
}


.header-nav {
	background: $site-grey;
	margin-bottom: 2*$gutter;
}


.header-nav .container {
	@include breakpoint(mama-bear) {
		// puts the search bar on the right side
		justify-content: space-between;
	}
}

.header-nav-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header-nav-ul li {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	margin-right: 2rem;
	display: inline-block;
	padding: $gutter/2 0;
	.active {
		border-bottom: solid 1px $brand-purple;
	}

}

.header-nav-ul	.last a {
	@include linx($brand-alt-green, $brand-alt-green, $brand-purple, $brand-purple);
		font-weight: bold;
	}