/* fonts */
$heading-font: "futura-pt-n5","futura-pt",sans-serif; 
$text-font: "futura-pt-n5","futura-pt",sans-serif; 
$text-color: #313131;


$base: 23px;
$medium: 23px*1.4;
$large: 23px*1.4*1.4;
$xl: 23px*1.4*1.4*1.4;


body {
	font-size: $base;
	line-height: 1.2;
	font-family: $text-font;
	color: $text-color;
	font-weight: 200;
}


/* this is all the common properties for the headings. Size changes for each one */
@mixin heading-size ($h-size) {
	font-size: $h-size;
	margin: rhythm(1, $h-size) 0 rhythm(1, $h-size) 0; /* 1 line below */
	font-family: $heading-font;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 2px;
}

h1 {
	@include heading-size($xl);
}

h2 {
	@include heading-size($large);
}

h3 {
	@include heading-size($medium);
}


