/* fonts */
$heading-font: "futura-pt-n5","futura-pt",sans-serif; 
$text-font: "futura-pt-n5","futura-pt",sans-serif; 
$text-color: #343433;

/* typographic scale based on 1:1.2 ratio, starting at 14px */
$base-font-size: .875rem;

$small: $base-font-size/1.2;
$base: $base-font-size;
$medium: $base-font-size * pow(1.2, 1);
$mediumlarge: $base-font-size * pow(1.2, 2);
$large: $base-font-size * pow(1.2, 3);
$xl: $base-font-size * pow(1.2, 4);
$xxl: $base-font-size * pow(1.2, 5);
$largest: $base-font-size * pow(1.2, 6);
$superbig: $base-font-size * pow(1.2, 10);


body {
	font-size: $mediumlarge;
	line-height: 1.2;
	font-family: $text-font;
	color: $text-color;
	font-weight: 200;
}


/* this is all the common properties for the headings. Size changes for each one */
@mixin heading-size ($h-size) {
	font-size: ($h-size);
	margin: $h-size/1 0 $h-size/2 0; /* 1 line below */
	font-family: $heading-font;
	line-height: 1.2;
	font-weight: 200;
	text-transform: uppercase;
	@include breakpoint(baby-bear) {
		&:first-child {
			margin-top: 0;
		}
	}
}

h1 {
	@include heading-size($largest);
}

h2 {
	@include heading-size($xxl);
}

h3 {
	@include heading-size($xl);
}

h4 {
	@include heading-size($large);
}

h5 {
	@include heading-size($mediumlarge);
	text-transform: uppercase;
	color: $brand-purple;
}

h6 {
	@include heading-size($medium);
	text-transform: uppercase;
	color: $brand-purple;
}


.small-text {
	font-size: $small;
	line-height: 1.2;
}

// this is an example of why you should never call something by the color you originally had it.
.bar-heading {
	background-color: $brand-alt-green;
	color: white;
	padding: $gutter/2 $gutter;
	text-transform: uppercase;
	clear: both;
}


.sidebar-top-header {
	margin-top: 0;
}

// styles for flash of unstyled text


