.class-wrapper {
	background: $site-grey;
	padding: $gutter;
	margin-bottom: 2*$gutter;
}

.class-title {
	display: block;
	color: white;
	background: $brand-alt-green;
	padding: $gutter;
	text-transform: uppercase;
	font-weight: 200;
	margin: 0;
}

.course-outcome-text {
	display: none; // hide and show with js
}

.course-outcome-text-active,
.active-window {
	display: block !important;
}

.course-outcome-title {
	text-transform: uppercase;
	color: $brand-purple;
	&:hover {
		cursor: pointer;
		color: $brand-alt-green;
	}
}

