$triangle-size: 10px;

.tooltip {
	position: relative;
	&:hover {
		&:before {
			//basic display elements
			display: block;
			background: $site-grey;
			font-size: $medium;
			border: solid 1px $brand-purple;
			content: attr(data-hover);
			color: $text-color;
			padding: $gutter;
			line-height: 1.2;

			// size and position
			position: absolute;
			width: 20rem;
			bottom: $triangle-size * 3;
			@include breakpoint(baby-bear) {
				left: 100%;
				bottom: 100%;
    		}
		}

		&:after {
			// triangle display
			border-left: solid $triangle-size $brand-purple;
			border-bottom: solid $triangle-size $brand-purple;
			border-top: solid $triangle-size transparent;
			border-right: solid $triangle-size transparent;
			content: "";
			display: block;

			// triangle size and position
			width: $triangle-size;
			height: $triangle-size;
			bottom: $triangle-size * 2;
			position: absolute;
			left: 100%;
			@include breakpoint(reverso-baby-bear) {
				transform: rotateZ(-45deg);
			}
		}
	}
}